@use 'variaveis';


.details {
    max-width: 100%;
    padding: 0 5.6vw;
    min-height: 80vh;

        &__content{
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            column-gap: 80px ;

            &--two-columns {
                display: grid;
                grid-template-columns: 1fr 2fr;
                }

            &__item {
                margin-bottom: 16px;               
                }

            @media screen and (max-width: 1024px) {
                grid-template-columns: 1fr;

                &--two-columns {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 48px;
                }
            }
        }

    h2 {
        border-bottom: 2px solid rgba(249, 249, 249, 0.2);
        margin-bottom: 10px;
        padding-bottom: 10px;
        }

    h3 {
        padding-bottom: 1.5rem;
    }
}